.main {
  width: 235px;
  height: 300px;
  padding-right: 15px;
  padding-left: 15px;
}

.row {
  height: 100%
}

#blacklisted_sites_list {
  overflow: auto;
  height: 185px;
  margin-top: 20px;
  margin-bottom: 15px;
}